.password-field{
    width: 90%; 
    max-width: 662px; 
    height: 76px; 
    background-color: rgba(255, 255, 255, 0.25); 
    border: none;
    border-radius: 12px;
    padding: 0 1rem;
    font-size: 1.58rem; 
    font-weight: 400; 
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}

.password-field-text{
    color: rgba(255, 255, 255, 0.5); 
    font-size: 1.58rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.password-field:hover {
    border: 2px solid blue; /* Stroke turns blue on hover */
}