.login-page{
    background-color: black;
    color: white; /* Ensures text is visible on black background */
    min-height: 100vh; /* Ensures it covers the full viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}
.login-form-container{
    width: 90%; /* Ensures responsiveness */
    max-width: 662px; /* Matches Figma design */
    aspect-ratio: 662 / 596; /* Maintains proportions */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 8px;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem; 
}
.login-page-image-container{
width: 778.41rem;
height: 1025.33rem;
border-radius: 5px;
}
.login-image{
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: fill;
}
.login-page-hero-text{
    font-size: 3.65rem; 
    font-weight: 400; 
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: normal; 
    margin-bottom: 0.5rem;

}
.login-page-subtext{
    font-size: 1.58rem; 
    font-weight: 400; 
    font-family: 'Inter', sans-serif;
    text-align: center;
    opacity: 0.5; 
    margin-bottom: 1.5rem;
    
}
.login-text-button{
    background: none;
    border: none;
    color: white;
    font-size: 1.58rem; 
    font-weight: 400; 
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    text-underline-offset: 25%; 
    text-decoration-thickness: 3.5%; 
    cursor: pointer;
}
ogin-text-button:hover{
    opacity: 1;
}
.login-seperator{
    width: 0.05rem; 
    height: 80vh; 
    min-height: 500px; 
    max-height: 976px; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
}
