.login-page{



}
.login-page-image-container{
width: 778.41rem;
height: 1025.33rem;
border-radius: 5px;
}
.login-image{
   
    
}
.login-page-hero-text{


}
.login-page-subtext{
 
    
}
.login-text-button{

    
}